#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
hr {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

p {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

h4 {
  font-size: 1.25rem;
  font-weight: lighter;
}

h3 {
  font-size: 1.5rem;
  font-weight: lighter;
}
h2 {
  font-size: 1.75rem;
  font-weight: lighter;
}
h1 {
  font-size: 2.5rem;
  font-weight: bolder;
}

hr {
  border: none;
  background-color: rgba(0, 0, 0, 0.1);
  height: 1px;
}

img {
  max-width: none;
}

.login-signup-header {
  font-size: 2rem;
}

.survey-tracker-btn {
  @apply p-2 cursor-pointer w-10 inline-block;
}

.logo-container {
  /* flex-direction: column; */
}

.logo {
  will-change: filter;
  transition: filter 300ms;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.email-pass-inputs-container {
  margin: auto;
}

@media only screen and (min-width: 800px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  hr {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }

  p {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  h4 {
    font-size: 1.5rem;
    font-weight: lighter;
  }

  h3 {
    font-size: 2rem;
    font-weight: lighter;
  }
  h2 {
    font-size: 2.5rem;
    font-weight: lighter;
  }
  h1 {
    font-size: 4rem;
    font-weight: bolder;
  }

  hr {
    border: none;
    background-color: rgba(0, 0, 0, 0.1);
    height: 1px;
  }

  .logo-container {
    flex-direction: row;
    width: 600px;
  }

  .email-pass-inputs-container {
    margin: auto;
    width: 50%;
  }
}
